{% extends "produtos_ivone/base.html" %}

{% block content %}
	<h1 style="text-align:center">Login</h1>

	<div class="container">
		<div class="row" style="border-style: solid">
			<form class="col s12">
				<div class="row">
					{% if erro %}
						<h2>{{ erro }}</h2>
					{% endif %}
				</div>
				<div class="row">
					<div class="input-field col s6">
						<div class="row">
							<label for="usuario">Usuário</label>
						</div>
						<input id="usuario" type="text" class="validate">
					</div>
				</div>
				<div class="row">
		        	<div class="input-field col s6">
						<div class="row">
							<label for="usuario">Usuário</label>
						</div>
		          		<input id="senha" type="password" class="validate">
		        	</div>
		      	</div>
		      	<div class="row">
		      		<div class="col s6">
		      			<input type="submit" class="btn" formmethod="POST">
		      		</div>
		      	</div>
			</form>
		</div>
	</div>
{% endblock %}