{% extends "produtos_ivone/base.html" %}

{% block content %}

<h1 style="text-align:center">Perfil</h1>

<div class="container">
    <div class="row">
        <form role="form" class="form col s12">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6">
                    <div class="row">
                        <label for="nome">Nome</label>
                    </div>
                    <input id="nome" type="text" class="validate" name="nome" value="{{ user.first_name }}">
                </div>
                <div class="input-field col s6">
                    <div class="row">
                        <label for="sobrenome">Sobrenome</label>
                    </div>
                    <input id="sobrenome" type="text" class="validate" name="sobrenome" value="{{ user.last_name }}">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="row">
                        <label for="nome_usuario">Nome de Usuário</label>
                    </div>
                    <input id="nome_usuario" type="text" class="validate" name="nome_usuario" value="{{ user.username }}">
                </div>
                <div class="input-field col s6">
                    <div class="row">
                        <label for="email">Email</label>
                    </div>
                    <input id="email" type="text" class="validate" name="email" value="{{ user.email }}">
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <input type="submit" class="btn" formmethod="POST" value="Atualizar Perfil">
                </div>
                <div class="col s6">
                    {% if erro %}
                    <h2>{{ erro }}</h2>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}