{% extends "produtos_ivone/base.html" %} 
{% load staticfiles %} 
{% block content %}
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="{% static 'img/natura.jpg' %}"></a>
        <a class="carousel-item" href="#three!"><img src="{% static 'img/demillus.png' %}"></a>
        <a class="carousel-item" href="#two!"><img src="{% static 'img/odorata.png' %}"></a>
        <a class="carousel-item" href="#four!"><img src="{% static 'img/avon.png' %}"></a>
        <a class="carousel-item" href="#five!"><img src="{% static 'img/tupperware.png' %}"></a>
    </div>
{% endblock %}