/* Cabeçalhos de login e sign up */
h3#linha_cadastro{
  font-weight: 500;
  font-size: 2.92rem;
  color: #26a69a;
  line-height: 1.1;
  font-family: sans-serif;
  box-sizing: inherit;
  position: relative;
  left: 188px;
}

h3#linha_login{
  font-weight: 500;
  font-size: 2.92rem;
  color: #26a69a;
  line-height: 1.1;
  font-family: sans-serif;
  box-sizing: inherit;
  position: relative;
  left: 188px;

}

#div-revista {
  position: absolute;
  left: 35px;
}
