{% block content %}
<div id="login-form" class="webui-popover-content">
  <form role="form" class="form col s12 js-signin signin" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="input-field">
      <input id="usuario" type="text" class="validate" name="usuario" placeholder="Nome de Usuário">
    </div>
    <div class="input-field">
      <input id="senha" type="password" class="validate" name="senha" placeholder="Senha">
    </div>
    <div class="row center-align">
      {% if erro %}
      <div class="row" id="erro-login">
        <div class="col s12">
          <div class="red-text text-lighten-1">

            <h2>{{ erro }}</h2>

          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action" formmethod="POST" value="login">
            Login
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a href="{% url 'signup' %}" class="waves-effect waves-light btn">Requisitar Acesso</a>
        </div>
      </div>
    </div>
  </form>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
  <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
</div>
{% endblock %}
